# Copy to terraform.tfvars locally. Do not commit real tfvars.
project_id     = "experiment-jegf"
project_number = "42206083192"
region         = "us-central1"

# Flip after LB_MVP1_Billing_account is attached and you are ready to pay for a micro instance.
create_sql      = false
sql_private_ip  = false
# vpc_self_link = "projects/experiment-jegf/global/networks/default"
